In [1]:
import os, sys
currentdir = os.path.dirname(os.path.realpath(os.path.abspath("")))
scriptsdir = os.path.dirname(currentdir)
if scriptsdir not in sys.path:
    sys.path.append(scriptsdir)

from customscripts import configuration
from customscripts import utils

# Common imports

import numpy as np
import scipy as sp
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# get_dataset_df(weekNumber, datasetFileName)
data_all_cats = utils.get_dataset_df(3, "all_categories")
data_cats_description = utils.get_dataset_df(3, "category_description")
data_countries_description = utils.get_dataset_df(3, "country_description")
data_updated_income = utils.get_dataset_df(3, "updated_income")
data_all_cats
data_cats_description
data_countries_description
data_updated_income

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Classification,Year,Trade Flow Code,Trade Flow,Reporter Code,Reporter,...,ii2009,ii2010,ii2011,ii2012,ii2013,ii2014,ii2015,ii2016,ii2017,ii2018
0,0,0,0,0,H3,2007,1,Import,276,Germany,...,0.904,0.910,0.919,0.919,0.919,0.921,0.923,0.925,0.928,0.929
1,1,1,1,1,H3,2007,1,Import,276,Germany,...,0.904,0.910,0.919,0.919,0.919,0.921,0.923,0.925,0.928,0.929
2,2,2,2,2,H3,2007,1,Import,276,Germany,...,0.904,0.910,0.919,0.919,0.919,0.921,0.923,0.925,0.928,0.929
3,3,3,3,3,H3,2007,1,Import,276,Germany,...,0.904,0.910,0.919,0.919,0.919,0.921,0.923,0.925,0.928,0.929
4,4,4,4,4,H3,2007,1,Import,276,Germany,...,0.904,0.910,0.919,0.919,0.919,0.921,0.923,0.925,0.928,0.929
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242573,242573,59699,9180,1989,H4,2017,1,Import,704,Viet Nam,...,0.546,0.567,0.574,0.580,0.586,0.593,0.600,0.609,0.616,0.624
242574,242574,59700,9181,1990,H4,2017,1,Import,704,Viet Nam,...,0.546,0.567,0.574,0.580,0.586,0.593,0.600,0.609,0.616,0.624
242575,242575,59701,9182,1991,H4,2017,1,Import,704,Viet Nam,...,0.546,0.567,0.574,0.580,0.586,0.593,0.600,0.609,0.616,0.624
242576,242576,59702,9183,1992,H4,2017,1,Import,704,Viet Nam,...,0.546,0.567,0.574,0.580,0.586,0.593,0.600,0.609,0.616,0.624
242577,242577,59703,9184,1993,H4,2017,1,Import,704,Viet Nam,...,0.546,0.567,0.574,0.580,0.586,0.593,0.600,0.609,0.616,0.624

,Category Code,Category,Commodity Code,Commodity
0,1,Fruits and Vegetables,7,Edible vegetables and certain roots and tubers
1,1,Fruits and Vegetables,14,Edible fruit and nuts; peel of citrus fruit or...
2,1,Fruits and Vegetables,1507,"Soya-bean oil and its fractions, whether or no..."
3,1,Fruits and Vegetables,1508,"Groundnut oil and its fractions, whether or no..."
4,1,Fruits and Vegetables,1509,"Olive oil and its fractions, whether or not re..."
5,1,Fruits and Vegetables,1510,"Other oils and their fractions, obtained solel..."
6,1,Fruits and Vegetables,1511,"Palm oil and its fractions, whether or not ref..."
7,1,Fruits and Vegetables,1512,"Sunflower-seed, safflower or cotton-seed oil a..."
8,1,Fruits and Vegetables,1513,"Coconut (copra), palm kernel or babassu oil an..."
9,1,Fruits and Vegetables,1514,"Rape, colza or mustard oil and fractions there..."
10,1,Fruits and Vegetables,20,"Preparations of vegetables, fruit, nuts or oth..."
11,2,Meat and Seafood,2,Meat and edible meat offal
12,2,Meat and Seafood,3,"Fish and crustaceans, molluscs and other aquat..."
13,2,Meat and Seafood,102,Live bovine animals
14,2,Meat and Seafood,103,Live swine
15,2,Meat and Seafood,104,Live sheep and goats
16,2,Meat and Seafood,105,"Live poultry, that is to say, fowls of the spe..."
17,2,Meat and Seafood,407,"Birds' eggs, in shell, fresh, preserved or cooked"
18,2,Meat and Seafood,408,"Birds' eggs, not in shell, and egg yolks, fres..."
19,2,Meat and Seafood,1501,"Pig fat (including lard) and poultry fat, othe..."
20,2,Meat and Seafood,1502,"Fats of bovine animals, sheep or goats, other ..."
21,2,Meat and Seafood,1504,"Fats and oils and their fractions, of fish or ..."
22,2,Meat and Seafood,16,"Preparations of meat, of fish or of crustacean..."
23,2,Meat and Seafood,2102,Yeasts (active or inactive); other single-cell...
24,2,Meat and Seafood,210610,Protein concentrates and textured protein subs...
25,3,Grains and Cereals,10,Cereals
26,3,Grains and Cereals,11,Products of the milling industry; malt; starch...
27,3,Grains and Cereals,17,Sugars and sugar confectionery
28,3,Grains and Cereals,18,Cocoa and cocoa preparations
29,3,Grains and Cereals,19,"Preparations of cereals, flour, starch or milk..."
30,3,Grains and Cereals,2103,Sauces and preparations therefor; mixed condim...
31,4,Beverages,2104,Soups and broths and preparations therefor; ho...
32,4,Beverages,22,"Beverages, spirits and vinegar"
33,4,Beverages,9,"Coffee, tea, mate'"
34,5,Dairy,2105,"Ice cream and other edible ice, whether or not..."
35,5,Dairy,401,"Milk and cream, not concentrated nor containin..."
36,5,Dairy,402,"Milk and cream, concentrated or containing add..."
37,5,Dairy,403,"Buttermilk, curdled milk and cream, yogurt, ke..."
38,5,Dairy,404,"Whey, whether or not concentrated or containin..."
39,5,Dairy,405,Butter and other fats and oils derived from mi...
40,5,Dairy,406,Cheese and curd
41,5,Dairy,409,Natural honey

,Reporter Code,Reporter,Reporter ISO,Development Category,Development Level,Population in 2005 (in million),Population in 2010 (in million),Population in 2014 (in million),Population in 2018 (in million),% Malnutritioned Childern < 5 years old,...,ii2009,ii2010,ii2011,ii2012,ii2013,ii2014,ii2015,ii2016,ii2017,ii2018
0,276,Germany,DEU,1,High,81.6,80.8,81.5,83.1,0.0,...,0.904,0.910,0.919,0.919,0.919,0.921,0.923,0.925,0.928,0.929
1,842,USA,USA,1,High,295.0,309.0,318.7,327.1,3.5,...,0.937,0.940,0.941,0.943,0.945,0.948,0.950,0.952,0.954,0.956
2,392,Japan,JPN,1,High,128.3,128.5,128.2,127.2,7.1,...,0.886,0.892,0.892,0.895,0.899,0.900,0.902,0.903,0.906,0.908
3,410,Rep. of Korea,KOR,1,High,48.7,49.5,50.6,51.2,2.5,...,0.854,0.864,0.869,0.872,0.875,0.878,0.882,0.885,0.889,0.892
4,344,Hong Kong,HKG,1,High,6.8,7.0,7.1,7.4,0.0,...,0.929,0.936,0.943,0.942,0.947,0.950,0.952,0.955,0.963,0.967
5,484,Mexico,MEX,2,Medium,106.0,114.1,120.4,126.2,10.0,...,0.760,0.766,0.769,0.772,0.770,0.774,0.776,0.779,0.780,0.781
6,156,China,CHN,2,Medium,1330.8,1368.8,1399.5,1427.6,8.1,...,0.673,0.687,0.700,0.711,0.721,0.732,0.741,0.750,0.759,0.768
7,76,Brazil,BRA,2,Medium,186.1,195.7,202.8,209.5,7.0,...,0.740,0.749,0.754,0.756,0.760,0.759,0.752,0.745,0.746,0.747
8,764,Thailand,THA,2,Medium,65.4,67.2,68.4,69.4,10.5,...,0.725,0.734,0.738,0.744,0.745,0.748,0.751,0.757,0.762,0.768
9,792,Turkey,TUR,2,Medium,67.9,72.3,77.2,82.3,9.9,...,0.772,0.783,0.796,0.801,0.811,0.816,0.822,0.824,0.832,0.833
10,356,India,IND,3,Low,1147.6,1234.3,1295.6,1352.6,37.9,...,0.562,0.572,0.578,0.584,0.591,0.600,0.610,0.620,0.629,0.638
11,586,Pakistan,PAK,3,Low,160.3,179.4,195.3,212.2,37.6,...,0.565,0.566,0.567,0.570,0.574,0.578,0.582,0.588,0.592,0.597
12,704,Vietnam,VNM,3,Low,83.8,88.0,91.7,95.5,24.6,...,0.546,0.567,0.574,0.580,0.586,0.593,0.600,0.609,0.616,0.624
13,566,Nigeria,NGA,3,Low,138.9,158.5,176.4,195.9,43.6,...,0.577,0.585,0.589,0.591,0.597,0.605,0.606,0.601,0.597,0.594
14,818,Egypt,EGY,3,Low,75.5,82.8,90.4,98.4,22.3,...,0.692,0.693,0.691,0.692,0.691,0.692,0.697,0.700,0.703,0.706

,HDI Rank (2018),Country,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,170,Afghanistan,0.394,0.394,0.409,0.426,0.421,0.435,0.438,0.436,0.435,0.434,0.434,0.432
1,69,Albania,0.674,0.683,0.686,0.693,0.699,0.7,0.705,0.707,0.711,0.717,0.721,0.727
2,82,Algeria,0.728,0.731,0.731,0.735,0.734,0.734,0.735,0.737,0.739,0.745,0.743,0.743
3,36,Andorra,0.947,0.931,0.924,0.916,0.91,0.91,0.914,0.92,0.924,0.928,0.931,0.935
4,149,Angola,0.601,0.604,0.615,0.614,0.613,0.622,0.626,0.63,0.629,0.62,0.617,0.607
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203,,Sub-Saharan Africa,0.511,0.514,0.517,0.521,0.524,0.527,0.531,0.536,0.537,0.536,0.535,0.535
204,,Least Developed Countries,0.445,0.451,0.458,0.462,0.467,0.472,0.474,0.481,0.485,0.487,0.49,0.494
205,,Small Island Developing States,0.725,0.726,0.723,0.737,0.739,0.742,0.745,0.747,0.751,0.752,0.753,0.755
206,,Organization for Economic Co-operation and Dev...,0.893,0.893,0.887,0.891,0.893,0.894,0.896,0.898,0.9,0.902,0.905,0.907
207,,World,0.73,0.733,0.731,0.736,0.74,0.744,0.747,0.751,0.754,0.757,0.761,0.764